[Desktop Entry]
Type=Application
Categories=Game;
Exec=modorganizer2-nxm-broker.sh %u
Name=Mod Organizer 2 NXM Handler
MimeType=x-scheme-handler/nxm;
NoDisplay=true

